.barevnaPaletka h1{
        
    background-color: #233307;
}
.barevnaPaletka h2{
    background-color:#003012 ;
}
.barevnaPaletka h3{
    background-color: #5e651c;
}
.barevnaPaletka h4{
    background-color:#142109 ;
}
.barevnaPaletka h5{
    background-color: #ffffaa;
}
.barevnaPaletka h6{
    background-color: #23633b;
}
.barevnaPaletka p{
    background-color: #ffec41
}